body {
	text-align: center;
}

section {
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 5px auto;
	max-width: 600px;
}

input {
	margin: auto;
}

h3 {
	margin-bottom: 30px;
}

h4 {
	margin: 30px auto;
}

input[type="submit"],
input[type="date"] {
	margin: 1.25rem auto;
}
