table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	margin: auto;
	max-width: 1200px;
	width: 100%;
}

td,
th {
	text-align: center;
	border: 1px solid #c7dbda;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #dceeee;
}

@media screen and (max-width: 600px) {
	.addNewEventButton {
		float: none !important;
	}
}
